/* 모든 요소의 기본 패딩 및 마진 제거 */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh; /* 전체 높이 사용 */
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  background-color: #f8f9fa; /* 기본 배경색 */
}

.container {
  max-width: 600px; /* 최대 너비 */
  width: 100%; /* 너비 100% */
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.react-calendar {
  border: none;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white; 
}

.react-calendar__tile--now {
  background: #ffcc00; 
  color: white; 
}

.react-calendar__tile--active {
  background: #007bff; 
  color: white; 
}

/* To-Do가 있는 날짜에 색상 적용 */
.has-todos {
  background-color: #28a745; /* 원하는 색으로 변경 */
  color: white; /* 글자 색상 */
}

.todo-list {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
}

.todo-list select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 40px;
  margin-right: 50px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

li:last-child {
  border-bottom: none;
}

li button {
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}

/* 다크 모드 스타일 */
.dark-mode {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
}

.dark-mode h1 {
  color: #fff;
}

.dark-mode .container {
  background-color: #333;
}

.dark-mode .todo-list {
  background: #1e1e1e;
  border: 1px solid #444;
}

.dark-mode input[type="text"],
.dark-mode select {
  background: #333;
  border: 1px solid #555;
  color: white; /* 글자 색상 */
}